.main {
  & > div {
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
  }
}

h1,
h2,
h3 {
  color: black;
}

.level__item--hidden {
  display: none;
}

.level:hover {
  cursor: pointer;
}

.flex {
  display: flex;
}

.title {
  text-align: center;
}

.word {
  text-transform: lowercase;
  font-size: 1rem;
  border: solid 1px black;
  display: inline-block;
  padding: 20px;
}

.words {
  grid-template-rows: 5;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.words-container {
  display: flex;
  justify-content: space-around;
}

.pagination {
  display: flex;
  padding: 30px 0;
}

.page-btn {
  margin: 0 20px;
  padding: 0 10px;
  color: black;
  border: solid 1px black;
}
