h1,
h2 {
  text-align: center;
}

h2 {
  text-transform: capitalize;
}

button {
  background-color: none;
  border: none;
  color: white;
  width: 100%;
}

.level {
  border: 1px solid white;
  background-color: rgb(84 90 92);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  margin: 0 30px;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.level:hover {
  cursor: pointer;
}

.flex {
  display: flex;
}

.title {
  text-align: center;
}

.word {
  text-transform: lowercase;
  font-size: 1.5rem;
  border: solid 1px white;
  display: inline-block;
  padding: 20px;
}

.words {
  display: inline-grid;
  grid-template-rows: 5;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.words-container {
  display: flex;
  justify-content: space-around;
}

.word-card.active {
  border: 1px solid white;
  height: 100%;
  padding: 0 20px;
}
