* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.game-section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5B93FF;;

}

.game-wrapper-content {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media  (max-width: 600px){
    width: 100%;
  }
}

.exit {
  width: 5rem;
  height: 3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 1px 17px 44px rgba(3, 2, 41, 0.07);
  border-radius: 10px;
  cursor: pointer;
  transition: all .7s;
  &:hover {
    opacity: 0.5;
  }
}
