$color-primary: #605bff;
$color-light: #ffffff;
$color-dark: #030229;
$color-grey: #7c7b98;
$color-lightgrey: #b3b3bf;
$color-bg-main: #fafafb;
$color-secondary: #ffd66b;
$color-additional: #5b93ff;
$color-extra-additional: #FF8F6B;
$color-bg: #f3f3f4;
$color-a1: #fbff4b59;
$color-a2: #faba1654;
$color-b1: #a4d8386b;
$color-b2: #64c26761;
$color-c1: #a3d6e157;
$color-c2: #78a8f157;
$color-difficult: #d0b4fe69;

$color-correct: #3bad69;
$color-wrong: #e53939;

$weight-regular: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;
$weight-black: 900;
