$color-primary: #605BFF;
$color-light: #FFFFFF;
$color-dark: #030229;
$color-grey: #7C7B98;
$color-lightgrey: #B3B3BF;
$color-bg-main: #FAFAFB;
$color-secondary: #FFD66B;
$color-bg: #F3F3F4;
$color-a1: #FBFF4B;
$color-correct: #3BAD69;
$color-wrong: #E53939;


$weight-regular: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;
$weight-black: 900;
