$color-primary: #605BFF;
$color-light: #FFFFFF;
$color-dark: #030229;
$color-grey: #7C7B98;
$color-lightgrey: #F7F7F8;
$color-secondary: #FFD66B;

$weight-regular: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;
$weight-black: 900;
