.section__title--main {
  margin-bottom: 30px;
}

.greeting__description {
  font-size: clamp(2rem, 3vw, 4rem);
  line-height: 1.3;
}

.button-wrapper {
  margin-top: 30px;
  padding: 30px;
  background-color: #ffffff50;
  border-radius: 10px;
  width: max-content;
  & .btn--sign {
    width: max-content;
  }
}

.description-container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
  row-gap: 60px;
}

.description-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 20px;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.description-img {
  grid-row: 1 / 2;
}

.description-item-title {
  color: #030229;
  margin-bottom: 20px;
}

.signin__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  & .btn--sign {
    &:hover {
      background-color: #ff8f6b;
    }
  }
}

.info-sign-in {
  color: #030229;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 5px;
}

.description-info-list {
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #030229;
  font-weight: 600;
}

.about {
  position: relative;
}

.start {
  background-color: #ff8f6b;
}
