@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/nunito/nunito-v22-latin_cyrillic-regular.eot");
  src: local("Nunito"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-regular.woff2") format("woff2"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-regular.woff") format("woff"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-regular.ttf") format("truetype"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-regular.svg#Inter") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/nunito/nunito-v22-latin_cyrillic-600.eot");
  src: local("Nunito"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-600.woff2") format("woff2"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-600.woff") format("woff"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-600.ttf") format("truetype"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-600.svg#Inter") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/nunito/nunito-v22-latin_cyrillic-700.eot");
  src: local("Nunito"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-700.woff2") format("woff2"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-700.woff") format("woff"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-700.ttf") format("truetype"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-700.svg#Inter") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/nunito/nunito-v22-latin_cyrillic-800.eot");
  src: local("Nunito"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-800.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-800.woff2") format("woff2"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-800.woff") format("woff"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-800.ttf") format("truetype"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-800.svg#Inter") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/nunito/nunito-v22-latin_cyrillic-900.eot");
  src: local("Nunito"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-900.woff2") format("woff2"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-900.woff") format("woff"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-900.ttf") format("truetype"),
  url("assets/fonts/nunito/nunito-v22-latin_cyrillic-900.svg#Inter") format("svg");
  font-weight: 900;
  font-style: normal;
}
