.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

* {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: $color-bg;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $color-primary;
    transition: background 0.3s ease;
  }
  &::-webkit-scrollbar-thumb:hover {
    background:  $color-secondary;
  }
}