body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

picture {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  display: block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

label, input {
  display: block;
}

input {
  border: 0;
}
