.full-screen {
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 6.5rem;
  right: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.screen-open {
  background-image: url(./../../assets/svg/fullscreen.svg);
}
.screen-close {
  background-image: url(./../../assets/svg/fullscreen-out.svg);
}
