.level__list {
  display: flex;
  margin-bottom: 20px;
  padding-left: 30px;
}

.level__title {
  padding-left: 30px;
}

.level__item {
  height: 44px;
  background-color: $color-transparent;
  &:first-child {
    border-radius: 10px 0 0 10px;
  }
  &:last-child{
    border-radius: 0 10px 10px 0;
  }
  &:not(:last-child) {
    border-right: 2px solid $color-lightgrey;
  }
  &.a1.active {
    background-color: $color-a1;
    border: none;
  }
}

.level__link {
  padding: 0 20px;
}