.logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo__nav {
  padding: 0 0 0 30px;
}

.logo__img {
  margin-right: 15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: $color-primary;
}
