.sprint-wrapper {
  height: 45rem;
  width: 70%;
  padding: 3%;
  display: flex;
  align-self:flex-start;
  @media  (max-width: 920px){
    width: 80%;
  }
  @media  (max-width: 600px){
    height: 80%;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
}

.sprint-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
}

.sprintWordEn {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  color: #FFD66B;
}

.sprintWordRu {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  color: #030229;
  opacity: 0.7;
}

.horizontal-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.button {
  height: 4rem;
  width: 16rem;
  display: flex;
  align-items: center;
  justify-content:space-around;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: .7s;
  &:hover {
    opacity: 0.5;
  }
  &_true {
    background-color: #3BAD69;
  }
  &_false {
    background-color: #E53939;
  }
}

.answ-pic-wrap {
  height: 7rem;
  width: 24rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.answerPic {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.score {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #FFD66B;
}

.sound {
  height: 2rem;
  width: 2rem;
  position: absolute;
  top:6rem;
  right: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.sound-on {
  background-image: url(./../../../public/svg/sound_on.svg);
}

.sound-off {
  background-image: url(./../../assets/svg/sound_off.svg);
}

.bus {
  background-image: url(./../../../public/img/bus.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  background-size: 20rem 17rem;

}

.animate {
  transition: background-position-x 60s linear;
  //background-position-x: 0;
}