.sprint-wrapper {
  height: 80%;
  width: 70%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: white;
  //box-shadow: 1px 17px 44px rgba(3, 2, 41, 0.07);
  //border-radius: 10px;
  @media  (max-width: 920px){
    width: 90%;
  }
  @media  (max-width: 600px){
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
}

.sprint-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
}

.timer {
  //width: 2rem;
  color: black;
  font-size: 3rem;
}

.sprintWord {
  color: black;
  font-size: 4rem;
}

.horizontal-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.button {
  height: 4rem;
  width: 16rem;
  display: flex;
  align-items: center;
  justify-content:space-around;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  transition: .7s;
  &:hover {
    opacity: 0.5;
  }
}

.true {
  background-color: #3BAD69;
}

.false {
  background-color: #E53939;
}

.answ-pic-wrap {
  height: 7rem;
  width: 24rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.answerPic {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sound {
  height: 3rem;
  width: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all .7s;
  &:hover {
    opacity: 0.5;
  }
}

.sound-on {
  background-image: url(./../../assets/svg/sound.svg);
}

.sound-off {
  background-image: url(./../../assets/svg/sound_off.svg);
}

.score {
  height: 3rem;
  width: 3rem;
  font-size: 3rem;
}
