.textboook {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  'header'
  'words'
  ;
  padding-left: 0;
  height: calc(100vh - 40px);
  background-color: $color-bg;
}

.textbook__header {
  padding: 30px;
  padding-bottom: 0;
  grid-area: header;
  max-width: 1460px;
  background-color: $color-bg;
  z-index: 5;
}
