.result-wrapper {
  height: 55rem;
  width: 50rem;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  @media  (max-width: 920px){
    width: 90%;
  }
  @media  (max-width: 600px){
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
}

.result-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-y: auto;
}

.result-cell {
  width: 35%;
}

.result-title-wrap {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.result-title {
  width: 50%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 25px;
  text-align: center;
}

.result-horizontal-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.res-sound {
  width: 2rem;
  height: 2rem;
  background-image: url(./../../assets/svg/speaker-on.svg);
  &:hover {
    opacity: 0.5;
  }
}

.res-false {
  width: 1.8rem;
  height: 1.8rem;
  background-image: url(./../../../public/svg/no.svg);
}

.res-true {
  width: 1.8rem;
  height: 1.8rem;
  background-image: url(./../../../public/svg/yes.svg);
}

.res-sound,
.res-false,
.res-true {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.res-result-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(./../../../public/img/poster.png);
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: 50%;
  @media (max-width: 1200px) {
    background-size: 70%;
  }
}

.dialog-wrap {
  width: 60%;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  gap: 1rem;
  @media (max-width: 1200px) {
    width: 70%;
  }
  @media (max-width: 800px) {
    width: 100%;
  }
}

.dialog-cell {
  width: 100%;
  padding: .9rem 2rem;
  border-radius: 10px 10px 10px 0px;
  background-color:#FFD66B;
  font-family: Nunito;
  font-style: normal;
  font-size: 1.6rem;
  color: #030229;
}

.dialog-chees {
  width: 60%;
  align-self: flex-start;
}

.display-none {
  display: none;
}

.res-words,
.res-result,
.res-sound {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
}

.res-words,
.res-result {
  color: #605BFF;
  opacity: 0.8;
  background-color: rgba(96, 91, 255, 0.1);
}

.res-words,
.res-result {
  &.active {
    color: #605BFF;
    opacity: 0.8;
    border-bottom: solid 1px #605BFF;
    background-color: rgba(96, 91, 255, 0.5);
  }
}

.res-btn {
  height: 4rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(96, 91, 255, 1);
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
  &:hover {
    background-color: rgba(96, 91, 255, .6);
  }
}
