body {
  background-color: rgb(228, 187, 187);
}

.level {
  border: 1px solid white;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  margin: 0 30px;
}

.flex {
  display: flex;
}