* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}


.game-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(7, 83, 83);
}

.game-wrapper-content {
  min-height: 100vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(181, 199, 199);
  @media  (max-width: 600px){
    width: 100%;
  }
}

// sprint

.sprint-wrapper {
  height: 60vh;
  width: 60%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(72, 136, 114, .5);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  @media  (max-width: 920px){
    width: 90%;
  }
  @media  (max-width: 600px){
    height: 100vh;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
}

.sprint-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.timer {
  //width: 2rem;
  color: black;
  font-size: 3rem;
}

.word {
  color: black;
  font-size: 4rem;
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.button {
  height: 4rem;
  width: 16rem;
  border: solid 1px;
  display: flex;
  align-items: center;
  justify-content:space-around;
  font-size: 2rem;
  cursor: pointer;
  transition: 1s;
  &:hover {
    opacity: 0.5;
  }
}

.true {
  background-color: rgb(60, 112, 56);
}

.false {
  background-color: rgb(170, 86, 53);
}

